body{
    margin: 0;
}
#header{
    border-radius: 15px;
    height: 80px;
    align-items: center;
}
#navbar ul{
    display: flex;
    gap: 40px;
    padding-right: 30px;
   
}
#navbar ul a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}
#home{
    flex-wrap: wrap;
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    /* background-color: blue; */
    width: 100%;
    
}
#home_img{
    height: fit-content;
    width: 100%;
    background-size: cover;
    /* background-color: bisque; */
    
}
#home_img img{
    width: 92%;
    height: 400px;
    margin-left: 50px;
}
#home-con{
    padding: 20px;
}

#home-con p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 30px;
font-size: large;
text-wrap: wrap;
text-align: justify;
}
#footer{
    border: 2px solid rgb(64, 92, 137);
    border-radius: 15px;
    height: 40px;
    background-color:rgb(87, 139, 208) ;
    text-align: center;
}